name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - staging

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    outputs:
      tag: ${{ steps.vars.outputs.TAG }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Extract Git SHA
        id: vars
        run: echo "TAG=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            igpino97/flask-hello:${{ steps.vars.outputs.TAG }}
            igpino97/flask-hello:latest

  deploy-staging:
    needs: build-and-push
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/staging'

    steps:
      - name: Deploy to staging (simulation)
        run: |
          echo "Would deploy image: igpino97/flask-hello:${{ needs.build-and-push.outputs.tag }}"
          echo "kubectl set image deployment/flask-hello flask-hello=igpino97/flask-hello:${{ needs.build-and-push.outputs.tag }} -n staging"

  deploy-production:
    needs: build-and-push
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Deploy to production (simulation)
        run: |
          echo "Would deploy image: igpino97/flask-hello:${{ needs.build-and-push.outputs.tag }}"
          echo "kubectl set image deployment/flask-hello flask-hello=igpino97/flask-hello:${{ needs.build-and-push.outputs.tag }} -n production"